<% include partials/head %>

<% include partials/nav %>

<% include partials/alerts %>

<main class="container">
  <header class="jumbotron">
    <h1>Yelp Campgrounds</h1>
    <p>Campground Sites Across the Country</p>
    <% if (!currentUser) { %>
      <a href="/users/login"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Login to Add New Campground</a>
    <% } else { %>
      <a class="btn btn-primary" href="/campgrounds/new"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Campground</a>
    <% } %>
  </header>

  <section>
    <div class="row flex">
      <% for (campground of allCampgrounds) { %>
          <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
              <img class="index" src="<%= campground.image %>" alt="campground"/>
              <a href="campgrounds/<%= campground._id %>"><h4 class="text-center caption"><%= campground.name %></h4></a>
            </div>
          </div>
      <% } %>
    </div>
  </section>

</main>

<% include partials/foot %>
