<% include partials/head %>

<% include partials/nav %>

<main>
  <h2><%= foundCampground.name %></h2>
  <img src="<%= foundCampground.image %>" alt="campground">
  <p><%= foundCampground.description %></p>
</main>

<a href="/campgrounds">Back</a>

<% include partials/foot %>
