<% include partials/head %>

<% include partials/nav %>

<main>
  <h1><%= foundCampground.name %></h1>
  <img src="<%= foundCampground.image %>" alt="campground">
  <p><%= foundCampground.description %></p>
</main>

<a href="/campgrounds"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back to Campgrounds</a>

<% include partials/foot %>
