<% include partials/head %>

<% include partials/nav %>

<main>
  <h1><%= foundCampground.name %></h1>
  <img src="<%= foundCampground.image %>" alt="campground">
  <p><%= foundCampground.description %></p>
</main>

<a href="/campgrounds">Back</a>

<% include partials/foot %>
