.row.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form {
  width: 40%;
  margin: 3% auto;
}

.navbar-brand {
  font-size: 2em;
}

.inline {
  display: inline;
}

.thumbnail img {
  width: 100%;
}

.thumbnail img.index {
  width: 100%;
  height: 20vh;
}

.thumbnail {
  padding: 0;
  word-wrap: break-word;
}

.thumbnail .caption-full {
  padding: 9px;
}

.well textarea {
  width: 100%;
}

.glyphicon-pencil {
  color: white;
}

.mod-buttons {
  text-align: right;
}

.login-register {
  width: 30%;
  margin: 5% auto;
}

.caption {
  margin: 0;
}
