.row.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form {
  width: 40%;
  margin: 3% auto;
}

.navbar-brand {
  font-size: 2em;
}

.inline {
  display: inline;
}

.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
}

.well textarea {
  width: 100%;
}
